(
	automigrate: true,
	reset_state: false,
	log_level: "debug",
	metrics: Prometheus(
		Config(
			port: 9090,
			endpoint: "/",
		),
	),
	repository: Postgres(
		Config(
			name: "transmit",
			host: "localhost",
			port: 5432,
			user: "postgres",
			password: "postgres",
			ssl: false,
		),
	),
	transmitter: Nats(
		Config(
			host: "127.0.0.1",
			port: 4222,
		),
	),
	transport: Grpc(
		Config(
			port: 8080,
		),
	),
)
