(
	automigrate: true,
	reset_state: true,
	log_level: "debug",
	clock_cycle_interval: "100ms",
	metrics: Prometheus(
		Config(
			port: 9090,
			endpoint: "/",
		),
	),
	repository: Postgres(
		Postgres(
			name: "transmit",
			host: "db",
			port: 5432,
			user: "postgres",
			ssl: false,
		),
	),
	transmitter: Nats(
		Config(
			host: "nats",
			port: 4222,
		),
	),
	transport: Grpc(
		Config(
			port: 80,
		),
	),
)
